.register-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-page h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.register-page form {
   
    display: flex;
    flex-direction: column;
}

.register-page label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #666;
}

.register-page input[type='text'],
.register-page input[type='email'],
.register-page input[type='password'] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.register-page button[type='submit'] {
    padding: 10px;
    background-color: black;
    color: #fff
}